langchain
openai
tiktoken
faiss-cpu
langchain_experimental
langchain[docarray]
PyMuPDF
flask_cors
numpy
scikit-learn
langdetect
flask_ngrok 
ragas 
datasets
streamlit
langchain-community
langchain-openai
smtplib